<%- include('../partials/header.ejs') %>

<div class="registry-new">
  <div class="width">
    <form
      class="box"
      action="/registries/<%= registry._id %>?_method=PUT"
      method="POST"
    >
      <h1>Edit registry</h1>

      <div class="field">
        <label>Name</label>
        <input type="text" name="title" value="<%= registry.title %>" />
      </div>

      <div class="field">
        <label>Event</label>
        <input type="text" name="eventType" value="<%= registry.eventType %>" />
      </div>

      <div class="field">
        <input
          class="button full-width"
          type="submit"
          value="Update registry"
        />
      </div>
    </form>
  </div>
</div>

<%- include('../partials/footer') %>