<%- include('../partials/header.ejs') %>


<form id="new-form" action="/registries/<%= registry._id %>?_method=PUT" method="POST">
    <label>Name Your Registry:</label>
    <input type="text" name="title" value="<%= registry.title %>">
  
    <label>Event:</label>
    <input type="text" name="eventType" value="<%= registry.eventType %>" >
  
    <input class="addBtn" type="submit" value="Update Registry">
  
  </form>
  

<%- include('../partials/footer') %>