<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Existing Registries</th>
      <!-- <th>Existing Registries</th> -->
    
    </tr>
  </thead>
  <tbody>
    <% registries.forEach(function(m) { %>
      <tr>
        <td><a href="/registries/<%= m._id %>"><%= m.title %></a></td>
        <td><a href="/registries/<%= m._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>