<%- include('../partials/header') %>

<div class="registries">
  <h2>All registries</h2>
  <div class="registries-list">
    <% registries.forEach(function(registry) { %>
    <a href="/registries/<%= registry.id %>" class="registries-list-item">
      <h3><%= registry.title %></h3>
      <p><%= registry.items.length%> Items</p>
    </a>
    <% }); %>
  </div>
</div>

<%- include('../partials/footer') %>