<%- include('../partials/header.ejs') %>

<section id="show-page">
  <div>Title:</div>
  <div><%= registry.title %></div>
  <div><%= registry.items %></div>

  <div><%= registry.eventType %></div>

  <ul>
    <%- registry.title.map(p => `
    <li>${p.name} <small>${p.born.toLocaleDateString()}</small></li>
    ` ).join('') %>
  </ul>
</section>

<form
  id="add-per-to-cast"
  action="/registries/<%= registry._id %>/items"
  method="POST"
>
  <select name="itemId">
    <%- items.map(p => `
    <option value="${p._id}">${p.name}</option>
    ` ).join('') %>
  </select>
  <button type="submit">Add to Cast</button>
</form>
<% if (user) { %>
<form
  id="add-items-form"
  method="POST"
  action="/registries/<%= registry._id %>/itemId"
>
  <label>Items:</label>
  <textarea name="content"></textarea>
  <input type="text" name="name" />
  <input type="text" name="itemType" />
  <input type="url" name="URL" />
  <input type="submit" value="Add Item" />
</form>
<% } %> <% if (registry.items.length) { %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Review</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% let total = 0 %> <% registry.items.forEach(function(r) { %> <% total +=
    r.rating %>
    <tr>
      <td class="item-user">
        <img alt="avatar" src="<%= r.userAvatar %>" /><%= r.userName %>
      </td>
      <td><%= r.createdAt.toLocaleDateString() %></td>
      <td><%= r.content %></td>
      <td><%= r.rating %></td>
      <td>
        <% if (user && user._id.equals(r.user)) { %>
        <form action="/items/<%= r._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
        <% } %>
      </td>
    </tr>
    <% }); %>
    <tr>
      <td colspan="3"></td>
      <td>
        <strong><%= (total / registry.items.length).toFixed(1) %></strong>
      </td>
    </tr>
  </tbody>
</table>
<% } else { %>
<h5>No items Yet</h5>
<% } %> <%- include('../partials/footer') %>
