<%- include('../partials/header.ejs') %>

<div class="showH">
<h1><%= registry.title %></h1>
<h2><%= registry.eventType %></h2>
</div>
<% if (user._id.toString() === registry.user._id.toString()) { %>
<form
  id="add-items-form"
  method="POST"
  action="/registries/<%= registry._id %>/items"
>
  <label>Item Name:</label>
  <input type="text" name="name" required />
  <label>Item Type:</label>
  <input type="text" name="itemType" required  />
  <label>URL:</label>
  <input type="text" name="URL" required /> 
  <input type="submit" value="Add Item"  />
</form>

<form method="POST" action="/registries/<%=registry._id%>?_method=DELETE" class="delete-form">
  <button id="edit-button" type ="submit">Delete Registry</button>
</form>

<form action="/registries/<%= registry._id %>/edit" method="GET">
  <button id="edit-button" type="submit">Edit Registry</button>
</form>
<% }%>

<div id="regbuild">
  <h2>Items</h2>
<% registry.items.forEach(function(item) { %>
  <div id="newitem">

  <h3><%= item.name %></h3>
</div>
<% if (user._id.toString() === registry.user._id.toString()) { %>
  <form method="POST" action="/items/<%=item._id%>?_method=DELETE" class="delete-form">
    <button id= "edit-button" type ="submit">Delete Item</button>
  </form>
  <% }%>
<% }) %>
</div>


<%- include('../partials/footer') %>
