<%- include('../partials/header.ejs') %>

<section id="show-page">
  <div class="regName">Regitry Name:</div>
  <div><%= registry.title %></div>
  <div><%= registry.items %></div>

  <div><%= registry.eventType %></div>

  <ul>
    <%- registry.items.map(p => `
    <li>${p.name} <small></small></li>
    ` ).join('') %>
  </ul>
</section>

<form
  id="add-per-to-cast"
  action="/registries/<%= registry._id %>/items"
  method="POST"
>
  <select name="itemId">
    <%- registry.items.map(p => `
    <option value="${p._id}">${p.name}</option>
    ` ).join('') %>
  </select>

</form>
<% if (user) { %>
 
<form
  id="add-items-form"
  method="POST"
  action="/registries/<%= registry._id %>/items"
>
  <label>Items Needed:</label>
  <!-- <textarea name="content"></textarea> -->
  <input type="text" name="name" />
  <input type="submit" value="Add Item" />
</form>

<% } %> <% if (registry.items.length) { %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
   
      <!-- <th>Rating</th> -->
 
    </tr>
  </thead>
  <tbody>
    <% registry.items.forEach(function(item) { %> <% item +=
    items %>
    <tr>
      <td class="items-user">
        <img alt="avatar" src="<%= r.userAvatar %>" /><%= r.userName %>
      </td>
      <td><%= r.itemType %></td>
      <td><%= r.name %></td>
      <td><%= r.URL %></td>
      
    </tr>
    <% }); %>
    <tr>
      <td colspan="3"></td>
      <td>
        <strong><%= ( registry.items.length).toFixed(1) %></strong>
      </td>
    </tr>
  </tbody>
</table>
<% } else { %>
<h5>No items Yet</h5>
<% } %> <%- include('../partials/footer') %>
