<%- include('../partials/header.ejs') %>

<h1><%= registry.title %></h1>
<h1><%= registry.eventType %></h1>

<h2>Add Item</h2>
<form
  id="add-items-form"
  method="POST"
  action="/registries/<%= registry._id %>/items"
>
  <label>Item Name:</label>
  <input type="text" name="name" required />
  <label>Item Type:</label>
  <input type="text" name="itemType" required  />
  <label>URL:</label>
  <input type="text" name="URL" required /> 
  <input type="submit" value="Add Item"  />
</form>

<% registry.items.forEach(function(item) { %>
  <h3><%= item.name %></h3>
  <form method="POST" action="/items/<%=item._id%>?_method=DELETE" class="delete-form">
    <button type ="submit">X</button>
  </form>
<% }) %>


<%- include('../partials/footer') %>
